{
  "presets": ["@babel/env", "@babel/preset-react"],
  "plugins": [
      [
        "@babel/plugin-transform-runtime",
        {
          "absoluteRuntime": false,
          "corejs": 3,
          "version": "^7.7.4"
        }
      ]
    ]
}